@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/* Common Styles Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Scrollbar Remove CSS */

body::-webkit-scrollbar {
    display: none;
}


/* Banner Related Styles Section */

header {
    max-width: 82.2%;
    width: 1320px;
    margin: 50px auto;
    color: #fff;
    font-family: 'Merriweather', serif;
    background: url('../assets/images/banner-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;

}

.container {
    text-align: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
    border-radius: 16px;

}

.container .banner-tittle-large {
    font-size: 72px;
    font-weight: 900;
    width: 632px;
}

/* Main Section Related Styles */

main {
    margin: 120px auto;
}

/* 65% OFF categories styles */
main .cat {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

main .cat .cat-title-large {
    color: #F00;
    font-size: 88px;
    font-weight: 700;

}

main .cat .cat-title-small {
    margin-top: 48px;
    margin-bottom: 24px;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

main .cat .cat-title-medium {
    margin-bottom: 48px;
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

/* Categories  banner 1 related styles */

.cat-banner-1 {
    max-width: 82.2%;
    width: 1320px;
    margin: 50px auto;
    font-family: Inter;
    color: #fff;
    background: url('../assets/images/Vectorrr.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    align-items: center;

}

.cat-banner-container {
    width: 820px;
    height: 600px;
    padding: 126px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

.cat-banner-title {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    margin-bottom: 24px;
}

.cat-banner-desc {
    color: rgba(255, 255, 255, 0.80);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 48px;
}

.btn-primary {
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
}

/* Category Banner 2 Related styles */

.cat-banner-2 {
    max-width: 82.2%;
    width: 1320px;
    margin: 50px auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 350px;
    font-family: Inter;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    border-radius: 16px;
}

.cat-banner-2 .red-text {
    color: #F00;
}

.cat-banner-2 .btn-red {
    margin-top: 64px;
    background-color: #F00;
    padding: 16px 32px;

}

/* Category banner 3 related styles */
.cat-banner3 {
    max-width: 82.2%;
    width: 1320px;
    margin: 50px auto;
    font-family: Inter;
}

.banner3-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.sec1-title1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.sec1-title2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.banner3-sec2 img {
    border: 15px solid red;
    border-radius: 50%;
    padding: 50px;
}

.sec3-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.sec3-desc {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding: 16px 0;
}

.banner3-sec3 {
    margin-top: 50px;
}

.banner3-sec1,
.banner3-sec-2,
.banner3-sec3 {
    flex-basis: 33.33333%;
}

/* Category Banner 4 related Styles */


.cat-banner4 {
    max-width: 82.2%;
    width: 1320px;
    margin: 50px auto;
}

.cat-banner4 .banner4-sec1 {
    text-align: center;
    width: 1068px;
    margin: 0 auto;
}

.banner4-title1 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.banner4-title2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 32px auto;
}

.banner4-title2 .red-color {
    color: #f00
}

.banner4-desc {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
}

/* Category banner 5 section related css */

.cat-banner5 {
    max-width: 82.2%;
    width: 1320px;
    height: 660px;
    margin: 50px auto;
}

.cat-banner5 .banner5-container {
    position: relative;
    width: 1320px;
    height: 660px;
}

.banner5-container .image1 {
    position: absolute;
    bottom: 0;
}

.cat-banner5 .banner5-container .image2 {
    position: absolute;
    right: 0px;
    bottom: 220px;
}

.cat-banner5 .banner5-container .image3 {
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.cat-banner5 .banner5-container .image4 {
    position: absolute;
    right: 280px;
    bottom: 220px;
}

/* Portfolio Section Related Styles */

.portfolio {
    max-width: 82.2%;
    width: 1320px;
    margin: 50px auto;

}

.portfolio-desc {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    /* 160% */

}

.portfolio-images {
    max-width: 82.2%;
    max-width: 1320px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

.portfolio-images .image {
    margin: 0;
    width: 33%;
}

/* News Letter related styles */

.newesletter {
    max-width: 82.2%;
    max-width: 1320px;
    margin: 50px auto;
    padding: 80px;
    height: 616px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}


.newsletter-title {
    padding: 20px 0;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}

.newsletter-desc {
    padding: 0 160px 20px 160px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

#email {
    margin: 0;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    padding: 25px 150px;
    border: none;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.btn-subscriber {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 25px 50px;
    border: none;
    cursor: pointer;
}

/* Footer Section */

footer {
    background: #070211;
}

.contact {
    max-width: 82.2%;
    max-width: 1320px;
    margin: 50px auto;
    padding: 120px 0;
    display: flex;
    justify-content: space-around;
}

.address {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.mobile-address {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.mobile-address .phone-number {
    display: flex;
    justify-content: left;
    align-items: center;
}

.mobile-address .web-link {
    display: flex;
    justify-content: left;
    align-items: center;
}

hr {

    max-width: 82.2%;
    max-width: 1320px;
    margin: 0 auto;
    height: 1px;
    border: none;
    background: rgba(255, 255, 255, 0.15);
}

.social-icons {
    text-align: center;
    padding: 48px 0;
}

.social-icons img {
    padding: 0 20px;
}

.copyright {
    max-width: 82.2%;
    max-width: 1320px;
    margin: 0 auto;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    padding: 120px 0;
}

.copyright a {
    text-decoration: none;
    color: #FFF;;
}